<form class="flex-grow-1 min-height-0 display-flex flex-direction-column" [askBeforeRefresh]="formGroup.dirty"
  [formGroup]="formGroup" novalidate role="form" (ngSubmit)="submitClicked()" autocomplete="off" inputFocus>

  <div class="flex-grow-1 overflow-auto display-flex flex-direction-column">

    <div class="flex-grow-1 flex-shrink-0 display-flex flex-direction-column">

      <div class="mb-20" fxFlex fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px">

        <div>
          <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">

            <div fxFlex="100" fxFlex.gt-md="30" fxLayout="column" fxLayout.lt-md="column">

              <div>

                <mat-radio-group formControlName="type">

                  <div class="display-flex padding-bottom-25px" fxLayout="row">

                    <div class="display-flex margin-right-25px">

                      <mat-radio-button value="Article" class="margin-top-10px"
                        matTooltip="{{ 'Create an Article' | translate }}">Create an Article</mat-radio-button>

                    </div>

                    <div class="display-flex">

                      <mat-radio-button value="Focus" class="margin-top-10px"
                        matTooltip="{{ 'Create a Focus' | translate }}">Create a Focus</mat-radio-button>

                    </div>

                  </div>

                </mat-radio-group>

              </div>



              <mat-form-field class="width-100pc margin-left-16px">

                <mat-label>Author</mat-label>

                <input matInput type="text" formControlName="author" required>

                <error-messages matSuffix for="author" [validationErrorMessages]="validationErrorMessages">
                </error-messages>

              </mat-form-field>



              <mat-form-field class="width-100pc">

                <mat-label>Brand</mat-label>

                <mat-select disableOptionCentering placeholder="Select" formControlName="brandId" panelOpen="true"
                  required>

                  <mat-option>...</mat-option>

                  <mat-option *ngFor="let brand of brands" [value]="brand.id">

                    {{brand.name}}

                  </mat-option>

                </mat-select>

                <error-messages matSuffix for="brandId" [validationErrorMessages]="validationErrorMessages">
                </error-messages>

              </mat-form-field>


              <mat-form-field class="width-100pc margin-left-16px">

                <mat-label>Title</mat-label>

                <input matInput type="text" formControlName="title" required>

                <error-messages matSuffix for="title" [validationErrorMessages]="validationErrorMessages">
                </error-messages>

              </mat-form-field>

            </div>

            <div fxFlex="100" fxFlex.gt-md="70">

              <div class="display-flex justify-content-center">

                <h3>Image</h3>

              </div>

              <images-card name="faces" class="flex-grow-1" formControlName="faces"
                [principal]="principal" (deletedFace)="onDeleteFace($event)"></images-card>

            </div>

          </div>
        </div>

        <div [fxFlex]="50" class="width-100pc padding-right-25px">

          <div class="display-flex padding-bottom-25px">

            <mat-label>Body</mat-label>

            <error-messages matSuffix for="body" [validationErrorMessages]="validationErrorMessages"></error-messages>

          </div>

          <div>

            <angular-editor formControlName="body" [config]="AngularEditorConfig" required></angular-editor>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div
    class="margin-right-25px padding-top-25px padding-bottom-25px flex-shrink-0 display-flex border-top-style-solid border-top-width-2px border-top-color-grey">

    <button mat-raised-button type="submit" color="primary">{{ 'Save' | translate }}</button>

    <button mat-raised-button type="button" class="margin-left-10px"
      (click)="cancelClicked()">{{ 'Cancel' | translate }}</button>

  </div>
</form>