:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.height-34px{
    height: 34px !important;
}

.width-100pc{
    width: 100%;
}

td.mat-cell {
    border: none !important;
}

th.mat-header-cell {
    border: none !important;
}

tr.mat-header-row {
    background-color: #f1f1f1; 
}

img{
    height: 60px !important;
    width: 100px !important;
}

.links-font {
    font-size: 1.17em;
    font-weight: bold;
}

.hidden {
    display: none !important;
}