<div class="" [fxFlex]="100" fxLayout="column">
  <div class="flex-shrink-0 display-flex justify-content-end close-mat-dialog-buttom">
    <span class="mat-button-wrapper cursor-pointer" (click)="close()">
      <mat-icon>clear</mat-icon>
    </span>
  </div>
  <div class="flex-grow-1 overflow-auto display-flex flex-direction-column">

    <div class="flex-grow-1 flex-shrink-0 display-flex flex-direction-column">

      <div class="" [fxFlex]="100" fxLayout="row">

        <div class="flex-wrap-wrap display-flex flex-grow-1 flex-shrink-1 flex-direction-row card-container justify-content-initial margin-top-10px">
          <mat-card *ngFor="let shop of dialogData.shops" class="display-flex background-color-secondary flex-direction-column flex-shrink-1 cursor-pointer"
            (click)="setSelectedShop(shop.id)">
            <div class="image-container margin-10px flex-grow-1" #imageContainer>
              <img class="img" imageLoad [srcImage]="shop.mainImage? shop.mainImage : ''" [container]="imageContainer" src="">
            </div>
            <div *ngIf="verifyIfIsLinked(shop.id)" class="image-card-btns display-flex margin-left-10px">
              <button mat-icon-button type="button" color="primary" matTooltip="Edit Link" (click)="editLinkModal(shop.id)">
                <mat-icon>edit</mat-icon> Edit Link
              </button>
            </div>
            <div class="image-card-btns display-flex margin-left-10px margin-right-10px margin-bottom-10px">
              <mat-checkbox [checked]="shop.checked" class="margin-top-10px" matTooltip="{{ 'Link' | translate }}" (click)="linked(shop)">{{ shop.name }}</mat-checkbox>
            </div>          

          </mat-card>
        </div>
      
      </div>
    </div>
  </div>

  <div class="margin-right-25px padding-top-25px flex-shrink-0 display-flex border-top-style-solid border-top-width-2px border-top-color-grey">

    <button mat-raised-button type="button" color="primary" (click)="save()">{{ 'Save Changes' | translate }}</button>

    <span class="display-flex flex-grow-1"></span>

    <button mat-raised-button type="button" class="margin-left-10px" (click)="showAddShopModal()">{{ 'Add Shop' | translate }}</button>

  </div>

</div>