<mat-toolbar
    class="margin-bottom-10px width-auto flex-shrink-0 background-color-secondary color-primary mat-elevation-z2"
    [formGroup]="filter">

    <mat-icon matPrefix color="primary">search</mat-icon>
    <mat-form-field class = "width-150px">
        <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>

</mat-toolbar>

<div class="flex-grow-1 overflow-auto display-flex">

    <table class="margin-top-10px margin-right-25px width-100pct" mat-table [dataSource]="brands" matSort
        [matSortActive]="brandsService.previousSortColumn" [matSortDirection]="brandsService.previousSortDirection"
        matSortDisableClear (matSortChange)="onSort()">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                NAME
            </th>
            <td mat-cell *matCellDef="let element" class="padding-table-td"> {{ getBrandName(element.id) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="mainImage">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"
                class="padding-table-td display-flex flex-grow-1 height-100pct padding-left-0px width-100pct">
                <div class="position-relative margin-top-5px">
                    <img [src]="getBrandImage(element.id)? getBrandImage(element.id) : 'assets/images/no-image.svg'"
                        class="margin-auto" alt="50">
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    DESCRIPTION
                </th>
                <td mat-cell *matCellDef="let element" class="padding-table-td"> {{ getBrandDescription(element.id) }}
                </td>
            </ng-container>

        <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                UPDATED
            </th>
            <td mat-cell *matCellDef="let element" class="padding-table-td">
                {{ element.updatedAt | date: 'MM/dd/yyyy HH:mm:ss': timeZoneOffset.toString() }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                ACTIONS
            </th>
            <td mat-cell *matCellDef="let element" class="">
                <button mat-icon-button color="primary" type="button" [matTooltip]="Select" class=""
                    (click)="selectedProduct(element)">
                    <mat-icon>check_circle_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="!isSelected(row.id) ? '' : 'row-selected'">
        </tr>

    </table>

</div>

<div
    class="margin-right-25px flex-shrink-0 display-flex border-top-style-solid border-top-width-2px border-top-color-grey">

    <button mat-raised-button type="button" class="margin-left-10px margin-top-20px" (click)="cancelClicked()">
        {{ 'Cancel' | translate }}
    </button>

    <span class="flex-grow-1"></span>

    <mat-paginator [length]="totalLength" [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageIndex]="" [pageSize]="50"
        showFirstLastButtons (page)="onPage()">
    </mat-paginator>
</div>
