<div>

<div class="flex-shrink-0 display-flex justify-content-end close-mat-dialog-buttom">
    <span class="mat-button-wrapper cursor-pointer" (click)="close()">
    <mat-icon>clear</mat-icon>
    </span>
</div>

<h1>SHOP CREATOR</h1>

<shop-form class="flex-grow-1"
    [data]="data"        
    [brands]="dialogData.brands"
    [categories]="dialogData.categories"
    [shops]="dialogData.shops"
    (accept)="submit($event)"
    (cancel)="cancel()"
    [validationErrors]="validationErrors"
    (dataChange)="dataChanged()">
</shop-form>

</div>