:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
}

table {
    width: 100%;
}

td,
th {
    width: 25%;
}

.padding-bottom-10{
    padding-bottom: 10px
}

::ng-deep .mat-tab-body-content{
  display: flex !important;
  flex-grow: 1 !important;
}
