<h1>Deals</h1>

<mat-toolbar class="margin-right-25px margin-bottom-10px width-auto flex-shrink-0 background-color-secondary color-primary mat-elevation-z2"
  [formGroup]="filter">

  <mat-icon matPrefix color="primary">search</mat-icon>
  <mat-form-field>
    <input matInput formControlName="url" placeholder="url">
  </mat-form-field>

  <!--mat-form-field>
    <mat-label>Collection</mat-label>
    <mat-select disableOptionCentering placeholder="Collection" formControlName="collection">
        <mat-option *ngFor="let collection of collections" [value]="collection.id">
          {{collection.name}}
        </mat-option>
      </mat-select>
  </mat-form-field-->

  <span class="flex-grow-1"></span>
  <button mat-raised-button type="button" color="primary" (click)="addNewDealModal()">CREATE A DEAL</button>
</mat-toolbar>

<div class="flex-grow-1 overflow-auto display-flex">

  <table class="margin-top-10px margin-right-25px width-100pct" mat-table [dataSource]="deals" matSort [matSortActive]="dealsService.previousSortColumn"
    [matSortDirection]="dealsService.previousSortDirection" matSortDisableClear (matSortChange)="onSort()">

    <ng-container matColumnDef="URL">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        URL
      </th>
      <!-- <td mat-cell *matCellDef="let element"> {{ getUrl(element.id) }} </td> -->
      <td mat-cell *matCellDef="let element"> {{ element.url }} </td>
    </ng-container>

    <ng-container matColumnDef="THUMBNAIL">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="display-flex flex-grow-1 height-100pct padding-left-0px width-100pct">
        <div class="position-relative margin-top-5px">
          <img [src]="element.imgUrl? element.imgUrl : 'assets/images/no-image.svg'" class="height-90pct width-90pct margin-auto" alt="50">
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="SALEPERCENTAGE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        SALEPERCENTAGE
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.salePercentage }} </td>
    </ng-container>

    <ng-container matColumnDef="STATUS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        STATUS
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
    </ng-container>

    <ng-container matColumnDef="PROMOCODE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        PROMOCODE
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.promoCode }} </td>
    </ng-container>

    <ng-container matColumnDef="TIME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        TIME
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.time }} </td>
    </ng-container>

    <ng-container matColumnDef="ACTIONS">
      <th mat-header-cell *matHeaderCellDef>
          ACTIONS
      </th>
      <td mat-cell *matCellDef="let element"  class="min-width-80px">
        <button mat-icon-button color="primary" type="button" [matTooltip]="Edit" (click) = "editDealModal(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" type="button" [matTooltip]="Delete" (click)="getDealToDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.is_active ? '' : 'text-decoration-line-through'">
    </tr>

  </table>

</div>

<div class="margin-right-25px flex-shrink-0 display-flex border-top-color-grey">
  <span class="flex-grow-1"></span>
  <mat-paginator [length]="totalLength" [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageIndex]="" [pageSize]="50" showFirstLastButtons
    (page)="onPage()">
  </mat-paginator>
</div>
