:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    padding-right: 5px;
    width: 100px !important;
}

td,
th {
    width: 25%;
}

.padding-bottom-10{
    padding-bottom: 10px
}

.width-90pct{
    width: 90% !important;
}

.width-100pct{
    width: 100% !important;
}

.height-90pct{
    height: 90% !important;
}

.height-100pct{
    height: 100% !important;
}

.padding-left-0px{
    padding-left: 0px !important
}

img{
    height: 60px !important;
    width: 100px !important;
}