:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.height-34px{
    height: 34px !important;
}

.width-100pc{
    width: 100%;
}

.padding-right-25px {
    padding-right: 25px !important;
}

.width-70pc{
    width: 70% !important;
}
